/*-------------------The 2D Rotate() Value Start Here ----------------*/
.child1:hover{
	transform:rotate(360deg);
	transform-origin:center;
}
.child2:hover{
	transform:rotate(360deg);
	transform-origin:left bottom;
}
.child3:hover{
	transform:rotate(360deg);
	transform-origin:right top;
}
.child4:hover{
	transform:rotate(360deg);
	transform-origin:center top;
}
/*-------------------The 2D Rotate() Value End Here ----------------*/



/*-------------------The 2D Skew() Value Start Here ----------------*/
.child5:hover{
	transform:skewX(60deg);
	transform-origin:center;
}
.child6:hover{
	transform:skewY(90deg);
	transform-origin:left bottom;
}
.child7:hover{
	transform:skew(20deg,30deg);
	transform-origin:right top;
}
/*-------------------The 2D Skew() Value End Here ----------------*/


/*-------------------The 2D Translate() Value Start Here ----------------*/
.child8:hover{
	transform:translateX(50px);
}
.child9:hover{
	transform:translateY(50px);
}
.child10:hover{
	transform:translate(50px,60px);
}
/*-------------------The 2D Translate() Value End Here ----------------*/



/*-------------------The 2D Scale() Value Start Here ----------------*/
.child11:hover{
	transform:scaleX(2);
}
.child12:hover{
	transform:scaleY(2);
}
.child13:hover{
	transform:scale(2);
}
/*-------------------The 2D Scale() Value End Here ----------------*/



/*-------------------The 2D Short Hand space And Matrix() Value Start Here ----------------*/
.child14:hover{
	transform:rotate(360deg) scaleX(2) translate(80px,50px) skew(20deg);
}
.child15:hover{
	transform:matrix(2,0,0,2,50,80);
}
/*-------------------The 2D Hand And Matrix() Value  Value End Here ----------------*/